h1{font-size: x-large;
   text-align: center;
   text-size-adjust: 54;
}
body{text-align: center;
     background-image: static'css/download.jpg';
     font-weight: 900;
}
h1{font-size: larger;
  text-decoration: double;
}