{% extends 'base.html' %}
{% block title %} ADD BOOK {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
    <head>
        <style>
            body{
                margin: 30px 100px;
            }
        </style>
    </head>

<body>
<h2>Add Book</h2>

<form action="" method="POST">
    {% csrf_token %}
   {{form|crispy}}

    <input type="submit" value ="Submit">
     

</form>
</body>
{% endblock%}