{% extends 'student-base.html' %}
{% block title %} Available  Books {% endblock %}
{% block content %}
{%load static %}
<link rel="stylesheet" href="{% static 'css/library.css' %}"alt="image">

<body id="download" style="background-image: url('{% static "css/adminpanel.jpg" %}'); background-repeat: no-repeat;background-size:100%">
    <h1>List of available books</h1>
    <table border="3">
        <tr>
            <th>Book cover</th>
            <th>Book Name</th>
            <th>Book Author</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>

        {% for book in returned_books %}
            
            <tr>
                {% if book.book_cover %}
                <td><img {% if book.book_cover %} src="{{book.book_cover.url}}"{% else %}alt="No Image"{% endif %} class="img-responsive" width="200"></td>
            
                {% endif %}
                <td>
                    {{book.book_name}}
                </td>
                <td>
                    {{ book.book_author }}
                </td>
                
                <td>
                    {{book.description}}
                
                </td>
                <td>
                    <a href="{% url 'update' book.pk %}">Edit</a>
                    <a href="{% url 'delete_book' book.pk %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}


