<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}  {% endblock %}</title>
</head>
<body>
    <a href="{% url 'index' %}" style="padding: 10px;">Home</a>
    <a href="{% url 'book_list' %}" style="padding: 10px;">Books Available</a>
    <a href="{% url 'borrowed_book_list'%}" style="padding: 10px;">Borrowed Books</a>
    <a href="{% url 'issue_book'%}"style="padding: 10px;">Issue Book</a>
    <a href="{% url 'add_book' %}"style="padding: 10px;">Add Book</a>
    <a href="{% url 'books' %}"style="padding: 10px;">Library Resources</a>
    <a href="{% url 'category' %}"style="padding: 10px;">Category</a>  
   

    {% block content %}
    {%load static %}
<link rel="stylesheet" href="{% static 'css/library.css' %}"alt="image">

<body id="download" style="background-image: url('{% static "css/download.jpg" %}'); background-repeat: no-repeat;background-size:100%">
    
</body>
    {% endblock %}

</html><br>