{% extends 'student-base.html' %}
{% block title %} Books{% endblock %}
{% block content %}
{%load static %}
<link rel="stylesheet" href="{% static 'css/library.css' %}"alt="image">

<body id="download" style="background-image: url('{% static "css/picture.jpg" %}'); background-repeat: no-repeat;background-size:100%">
    <h1>BOOKS</h1>
    <form action = "{% url 'search' %}" method='POST'>
        {% csrf_token %}
        <input type = 'text' name ='search' placeholder = 'search for a book'>
        <button type = 'submit'> search</button>
    </form>
    <br>
    <br><br>

<!-- <script type="text/javascript">
    function getvalue(){
        alert(document.getElementById('demo').value)
    }
</script> -->

    {% for book in all %}
       <p>{{book.book_name}} by {{book.book_author}}
        </p> 
    {% endfor %}
    
{% endblock %}