{% extends 'base.html' %}
{% block title %}BORROWED BOOKS{% endblock%}
{%load static %}
<link rel="stylesheet" href="{% static 'css/library.css' %}"alt="image">

<body id="download" style="background-image: url('{% static "css/download.jpg" %}'); background-repeat: no-repeat;background-size:100%">

{% block content %}
    <h1>BORROWED BOOKS</h1> 
    <table border="5">
        <tr>
            <th>Student Name</th>
            <th>Book Name</th>
            <th>Book_ID</th>
        </tr>
        {%for list in borrowed_books%}
        <tr>
            <td>
                {{list.student_name}} 
            </td>
            <td>
                {{list.book_name}}
            </td>
            <td>
                {{list.book_id}}
            </td>
        </tr>
        {% endfor %}
    </table>



{% endblock %}