{% extends 'student-base.html' %}
{% block title %} BORROW BOOK {% endblock %}
{% block content %}
{%load static %}
<link rel="stylesheet" href="{% static 'css/library.css' %}"alt="image">

<body id="download" style="background-image: url('{% static "css/picture.jpg" %}'); background-repeat: no-repeat;background-size:100%">
{% load crispy_forms_tags %}
    <head>
        <style>
            body{
                margin: 30px 100px;
            }
        </style>
    </head>

<body>
<h2>BORROW A BOOK</h2>

<form action="" method="POST">
    {% csrf_token %}
    {{ form.student_name|as_crispy_field}}
    {{ form.book_name|as_crispy_field}}
    <br>
    <label>Return date</label>
    <input type="date" name="return_date">

    <input type="submit" value ="Submit">

</form>
</body>
{% endblock%}