{% extends 'student-base.html' %}
{% block title %} Available  Books {% endblock %}
{% block content %}
{%load static %}
<link rel="stylesheet" href="{% static 'css/library.css' %}"alt="image">

<body id="download" style="background-image: url('{% static "css/picture.jpg" %}'); background-repeat: no-repeat;background-size:100%">
    <h1>CATEGORY OF BOOKS</h1>
    <table border="3">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        {% for categories in category_list %}
            <tr>
                <td>
                    {{  categories.name }}
                </td>
                <td>
                    {{ categories.description}}
                </td>
                
            </tr>
        {% endfor %}
    </table>


{% endblock %}