{% extends 'student-base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
{%load static %}
<link rel="stylesheet" href="{% static 'css/library.css' %}"alt="image">

<body id="download" style="background-image: url('{% static "css/adminpanel.jpg" %}'); background-repeat: no-repeat;background-size:100%">
{% load crispy_forms_tags %}
    <head>
        <style>
            body{
                margin: 30px 100px;
            }
        </style>
    </head>

<body>
<h2>BOOK CATEGORY</h2>

<form action="" method="POST">
    {% csrf_token %}
   <label>Name</label>
   <input type="text" name="name"><br><br>
   <label>Description</label>
   <input type="text" name="description"><br><br>
   <input type="submit" value="Submit">
{% endblock %}