{% extends 'base.html' %}
{% block title %} Admin Dashboard {% endblock %}
{% block content %}
{%load static %}
    <link rel="stylesheet" href="{% static 'css/library.css' %}"alt="image">

    <body id="student" style="background-image: url('{% static "css/adminpanel.jpg" %}'); background-repeat: no-repeat;background-size:100%">
    <h1>WELCOME LIBRARIAN</h1>
    <style type="text/css">
        button{
            border:none;
            background:#0076ff;
            border: radius 3%;
            padding: 3%;
            color:#fff;
            font-weight:bold;
            font: size 20%;
            text-transform:uppercase;
            text-align::before;
        }
    </style>
    <button type="submit"><a href="{% url 'add_book' %}">ADD BOOK</a></button>
    <button type="submit"><a href="{% url 'book_list' %}">AVAILABLE BOOK</a></button>
    <button type="submit"><a href="{% url 'borrowed_book_list'%}">BORROWED BOOKS</a></button>
    <button type="submit"><a href="{% url 'issue_book'%}">ISSUE BOOK</a></button>                
    <button type="submit"><a href="{% url 'register' %}">REGISTER STUDENT</a></button>

    

{% endblock %}