{% extends 'base.html' %}
{% block title %} ADD BOOK {% endblock %}
{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    Are you sure you want to delete this Book?
    <input type="submit" value="Yes"/>
    <a href="{{book.id}}">Delete</a>

</form>
{% endblock f%}