
{% extends 'student-base.html' %}
{% block title %} LIBRARY {% endblock %}
{% block content %}
    
    {%load static %}
    <link rel="stylesheet" href="{% static 'css/library.css' %}"alt="image">

    <body id="bg" style="background-image: url('{% static "css/bg.jpg"%}'); background-repeat: no-repeat;background-size: 100
    %"> 
        <h1>WELCOME TO COCIS LIBRARY</h1>
        <form action = "{% url 'search' %}" method='POST'>
            {% csrf_token %}
            <input type = 'text' name ='search' placeholder = 'search for a book'>
            <button type = 'submit'> search</button>
        </form>
        <br>
        <br><br>
        <br><br>
        <br>
        <button type="submit"><a href="{% url 'sign' %}">STUDENT SIGNUP</a></button>
        <br>
        <br>
        <button type="submit"><a href="{% url 'login' %}">ADMIN LOGIN</a></button>
        
{% endblock %}