{% extends 'base.html' %}
{% block tittle%}Issue Book {% endblock%}
{% block content%}
{%load static %}
<link rel="stylesheet" href="{% static 'css/library.css' %}"alt="image">

<body id="download" style="background-image: url('{% static "css/adminpanel.jpg" %}'); background-repeat: no-repeat;background-size:100%">
    <h1> Issue Book</h1>
    <table border="1">
        <tr>
            <th>Student name</th>
            <th>Book name</th>
            <th>Date Of Borrowing</th>
            <th>Return Date</th>
            <th>Issue Book</th>
        </tr>
        {% for request in issue_book %}
        <tr>
            <td>
                {{ request.student_name}}

            </td>
            <td>
                {{ request.book_name}}
 
            </td>
            <td>
                {{ request.date_of_borrowing}}

            </td>
            <td>
                {{ request.return_date}}

            </td>
            <td>
                <form action="" method="post">
                  {% csrf_token %}
                  <input type="hidden" value="{{ request.id }}" name="id">
                  {% if request.issued == "1" %}
                  <p>Issued</p>
                  {% else %}
                    <button type="submit">Issue</button>
                  {% endif %}
                </form>
            </td>
        </tr>

    {% endfor %}
</table>

{% endblock %}