<!DOCTYPE html>
<html>
    <head>
        <title> Login Form</title>
        {%load static %}
        <link rel="stylesheet" href="{% static 'css/library.css' %}"alt="image">
        <style>
            body{
                margin: 30px 100px;
            }
        </style>

    </head> 

    <body id="download" style="background-image: url('{% static "css/adminpanel.jpg" %}'); background-repeat: no-repeat;background-size:100%">
    {% load crispy_forms_tags %}
        
        <h2>Login</h2>

        <form action="" method="POST">
            {% csrf_token %}
            <label>Email</label>
            <input type="email" name="email"><br><br>
            <label>Password</label>
            <input type="password" name="password">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>