<!DOCTYPE html>
<html>
    <head>
        <title>Payments Form</title>
        <dody>
            <h3>Payments Form</h3>
            <p>When the book is returned after the return_date. The following are the payments that have to be made by the borrower. </p>
            <!--Ordered List-->
            <ol>
                <li>Two days                   1000</li>
                <li>Three days - one wek       3000</li>
                <li>One week - two weeks       5000</li>
                <li>Two weeks- one month       10000</li>

            </ol>
            <h4>Beyond ONE MONTH the student will be refused to borrow any book from the library.</h4>
            <button type="submit"><a href="{% url 'thanks' %}">If you agree to these instructions click here.</a></button>

        </dody>
    </head>
</html>