<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}  {% endblock %}</title>
</head>
<body>
    <a href="{% url 'index' %}">Home</a>

    <a href="{% url 'books' %}">Library Resources</a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">logout</a>
    {% else %}
    <a href="{% url 'sign' %}">signupform</a>
    <a href="{% url 'login'%}">Login</a>
    {% endif %}
    <a href="{% url 'book_list' %}">Books Available</a>
    
    <a href="{% url 'borrow'%}">BorrowBook</a>

    {% block content %}
    
    
    {% endblock%}
   
</body>

</html><br>