<!DOCTYPE html>
<html>
    <head>
        <title> Signup Form</title>
        {%load static %}
        <style>
            body{
                margin: 30px 100px;
            }
        </style>
    </head>

<link rel="stylesheet" href="{% static 'css/library.css' %}"alt="image">

    <body id="download" style="background-image: url('{% static "css/picture.jpg" %}'); background-repeat: no-repeat;background-size:100%">
        {% load crispy_forms_tags %}

        <h2>SIGNUP</h2>

        <form action="" method="POST">
            {% csrf_token %}
            <label>first_name</label>
            <input type="text" name="first_name"><br><br>
            <label>middle_name</label>
            <input type="text" name="middle_name"><br><br>
            <label>second_name</label>
            <input type="text" name="second_name"><br><br>
            <label>student_ID</label>
            <input type="number" name="student_ID"><br><br>
            <label>phone_number</label>
            <input type="number" name="phone_number"><br><br>
            <label>Email</label>
            <input type="email" name="email" autocomplete="new-password"><br><br>
            <label>username</label>
            <input type="text" name="username"><br><br>
            <label>Insert strong password</label>
            <input type="password" name="password1" autocomplete="new-password"><br><br>

            <label>confirm password</label>
            <input type="password" name="password2" autocomplete="new-password"><br><br>
            <input type="submit" value="Submit">
            

            </form>
    </body>
</html>