{% extends 'student-base.html' %}
{% block title %} THANKS {% endblock %}
{% block content %}
{%load static %}
<link rel="stylesheet" href="{% static 'css/library.css' %}"alt="image">

<body id="download" style="background-image: url('{% static "css/student2.jpg" %}'); background-repeat: no-repeat;background-size:100%">
    {% for names in student_borrowing %}
        {{names.student_name}}
    {% endfor %}

    <h1>THANK YOU FOR CHOOSING COSIS LIBRARY</h1>
{% endblock %}

