{% extends 'base.html' %}
{% block title %} ADD BOOK {% endblock %}
{% block content %}
<style>

    body{
        margin: 10px 30px;
    }

</style>

</head>
<body>
    {% load crispy_forms_tags %}

<h2>Update Book</h2>

    <form action="" method = "post">
        {% csrf_token %}
        {{form|crispy}}

        {% comment %}
        Book Title:<br>
        <input name="title" value="{{book.title}}">
        <br><br>

        Book Author:<br>
        <input name="author" value="{{book.author}}">
        <br><br>

        Book Category:<br>
        <input name="category" value="{{book.category}}">
        <br><br>

        Year Published:<br>
        <input name="year" value="{{book.year}}">
        <br><br>
        {% endcomment %}

        <input type="submit" value = "Submit">
    </form>
{% endblock %}