<!DOCTYPE html>
<head>
    <style>
      body{
        margin: 25px 100px;
      }
        #books {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        h1{
            color: #04AA6D;
        }
        #books td, #books th {
          border: 1px solid #ddd;
          padding: 8px;
        }
        
        #books tr:nth-child(even){background-color: #f2f2f2;}
        
        #books tr:hover {background-color: #ddd;}

        button.right {float: right;}
        
        #books th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #04AA6D;
          color: white;
        }

        .GFG {
            background-color: #04AA6D;
           /* border: 2px solid black; */
            color:  white;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 15px;
            cursor: pointer;
            width: 120px;
            position:absolute;
            }

        </style>
</head>

<h1>Books</h1>

<p>
    <button onclick="document.location='addbook/'" class="GFG" alignment="right">Add Books</button> 
</p>
<br><br>
<font color="green">To edit book details click Id Number</font>
<br><br>


<table border="1" id = "books">
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Author</th>
      <th>Category</th>
      <th>Year</th>
      <th>Action</th>
    </tr>
    {% for x in mylibrary %}
    <tr>
        <td><a href="update/{{x.id}}">{{ x.id }}</a></td>
        <td>{{x.title}}</td>
        <td>{{x.author}}</td>
        <td>{{x.category}}</td>
        <td>{{x.year}}</td>
        <td><a href="delete/{{x.id}}">delete</a></td>
    </tr>
    {% endfor %}
</table>

