{% extends 'student-base.html' %}
{% block title %} WELCOME {% endblock %}
{% block content %}

    {%load static %}
    <link rel="stylesheet" href="{% static 'css/library.css' %}"alt="image">

    <body id="student" style="background-image: url('{% static "css/student2.jpg" %}'); background-repeat: no-repeat;background-size:100%">
       <h1> enter your credentials</h1>

        <form action="welcome" method="post">
        {% csrf_token %}

        <p><label for="">FULL NAME:</label></p>
        <input type="text" id="fname" name="fname" placeholder="enter your fullname"required>
        <p><label for="">EMAIL:</label></p>
        <input type="text" id="email" name="email" placeholder="enter your email address"required>
        <p><label for="">CONTACT:</label></p>
        <input type="contact" id="contact" name="contact" placeholder="enter your contact(only numbers)"required>
        <p><label for="">ID Number:</label></p>
        <input type="idnumber" id="idnumber" name="idnumber" placeholder="enter your id(only numbers)"required> 
        <div class="w3-card.2 topnav notranslate" id="topnav" style "position relative; top:0px;"></div>
        <p><label for="">COURSE:</label></p>
        <select>
            <option> computer science</option>
            <option> software engineering</option>
            <option> information systems</option>
            <option> library science</option>
            <option> computer engineering</option>
        </select>
        <p>GENDER</p>
        <input type="checkbox" value="MALE" id="male">MALE
        <input type="checkbox" value="FEMALE" id="female">FEMALE
        <p><label for="">PASSWORD:</label></p>
        <input type="password" id="pass1" name="pass1" placeholder="create password"required>
        <p><label for="">CONFIRM PASSWORD:</label></p>
        <input type="password" id="pass2" name="pass2" placeholder="confirm your password"required>
        <br>
        <br>
        <button type="submit"><a href="{% url 'borrow' %}">SUBMIT</a></button>
    
        </form>
<style>
    body{text-align: center;}
</style>
</body>
<link rel="stylesheet" href="library.css">
{% endblock %}<br>
copyright2022